---
layout: base.njk
title: Home
---
<section class="post-list-section">
  <h1 class="list-title">Posts</h1>

  <ul class="post-list">
    {% for post in collections.post | reverse %}
      <li class="post-card">
        <time class="post-card-date" datetime="{{ post.date.toISOString() }}">{{ post.date | postDate }}</time>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      </li>
    {% endfor %}
  </ul>
</section>
